
$background-color: #E9F0F5;
$footer-background: #363B3F;

$primary-color: #3C6092;
$primary-color-lighter: #729FDE;

$secondary-color: #FFFFFF;

$text-color: #5C6B7E;

$timeline-widget: #FFFFFF;
$timeline-divider: #D7E4ED;



$heading: "Lato", Arial, sans-serif;
$copy: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;


$md-font-size: 1.2em; // 19px
$md-line-height: 1.250em; // 20px

$sm-font-size: .9em;  // 14px
$sm-line-height: 1em; // 16px