.footer {
  background: $footer-background;
  padding: 0.789em 0;
}

.footer p {
  font-size: 0.632em;
  color: $secondary-color;
  text-align: center;
}

.footer .social {
  width: 100%;
  text-align: center;
}

